<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </div>
</nav>

<div>
    <h1>Login</h1>
</div>

<div id="login-form"> 
    <input type="text" id="username">
    placeholder
    <input type="text" id="password">
    <input type="text" id="submit">
</div>

<style> 
    #login-form {
        width: 25%
        margin: 0 auto;
    }
h1 {
    text-align: center;
}
button {
    margin-top: 10px;
}
</style>

  
    
