<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Storytime</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </div>
</nav>

<div>
    <h1>Login</h1>
</div>

<div id="login-form"> 
    <form action="/users/login" method="post">
    <input type="text" placeholder="username" name="username">
    <input type="text" placeholder="password" name="password">
    <button id="submit" type="submit">Submit</button>
    </form>
</div>

<style> 
    #login-form {
        width: 25%;
        margin: 0 auto;
    }
h1 {
    text-align: center;
}
button {
    margin-top: 10px;
}
</style>

  
    
