<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Storytime</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>

<div>
  <h1>Signup</h1>
</div>

<div id="signup-form">
  <form action="/users/signup" method="post">
    <input type="text" placeholder="username" name="username">
    <input type="text" placeholder="email" name="email">
    <input type="text" placeholder="password" name="password">
    <button type="submit" id="submit">Submit</button>
  </form>
</div>
<style>
  #signup-form {
    text-align: center;
    width: 25%;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
  }
  button {
    margin-top: 10px;
  }
</style>
{{!-- <script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script> --}}
{{!-- <script src='/js/signup.js'>  </script> --}}