<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>

<div>
    <h1>Signup</h1>
</div>

<div id="Signup-form"> 
    <input type="text" id="username">
    <input type="text" id="email">
    <input type="text" id="password">
    <input type="text" id="password-confirm">
    <button id="submit">Submit</button>
</div>
<style> 
    #signup-form {
        width: 25%
        margin: 0 auto;
    }
h1 {
    text-align: center;
}
button {
    margin-top: 10px;
}
</style>
<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
<script src='/js/signup.js'>  </script>