<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Storytime</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
     <li><a href="/create/story">Add Story</a></li>
     <li><a href="#">Contributions</a></li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
    <h2>Create Your Story</h2>
    <h1>Yo whats good {{user.username}}</h1>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="title" type="text" data-length="90">
                    <label for="title">Story Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="story" class="materialize-textarea" data-length="500"></textarea>
                    <label for="story">Story</label>
                </div>
            </div>
        </form>
    </div>

    {{!-- </form> --}}

    <div class="container input-field col s12">
        <h3> What genre is your story?</h3>
        <select id="genres">
            <option value="Comedy">Comedy</option>
            <option value="Drama">Drama</option>
            <option value="Sci-Fi">Sci-Fi</option>
            <option value="Thriller">Thriller</option>
            <option value="Romance">Romance</option>
        </select>
    </div>

    <button type="submit" id="storyBtn">Add to Story</button>

</div>
<script src="/js/addStory.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('input#title, textarea#story').characterCounter();
        $('select').formSelect();
    });
</script>