<h2>What happens next?</h2>
<form data-id="{{this.id}}" class="update-form">
    <div class="form-group">
        <label for="storyinput">Add to it:</label>
        <input type="text" id="storyinput" name="input" value="{{this.input}}">
    </div>
    <button type="submit">Add To Story</button>
</form>

