<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Storytime</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
     <li><a href="/create/story">Add Story</a></li>
     <li><a href="#">Contributions</a></li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
   <div class="row">
     <div class="col s12 stories">
       <ul id="storyDetails">
         <li>Title: {{this.title}}</li>
         <li>Text: {{this.text}}</li>
         <li>Author: {{User.dataValues.username}}</li>
       </ul>
     </div>
  </div>
<button id="editStory" type="Submit">Add to the Story!</button>
<button id="deleteStory" type="Delete">Delete</button>
   
</div>