<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Storytime</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
     <li><a href="/create/story">Add Story</a></li>
     <li><a href="#">Contributions</a></li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
   <div><h2></h2></div>


   
</div>