.container{
  font-family: 'Cinzel', serif; 
}

.list-group-item {
  line-height: 2.5;
}

/* Hide The Scroll Bar */
html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px; 
  background: transparent;
}

/* ====================== */
  
.brand-logo{
  font-family: 'Cinzel', serif; 
}
.parallax-window {
   min-height: 40vh;
   width: 100vw;
   height: 22vh;
   background: transparent;
   z-index:2;
  }

#noStory{
  font-size: 2rem;
  font-family: 'Cinzel', serif; 
  font-weight: bold;
  text-align: center;
}

#parallaxText{
  min-height: 40vh;
  height: 22vh;
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 13vh;
  font-size: calc(0.07*100vw + 1px);
  font-family: 'Cinzel', serif;
  background-color: rgb(27, 25, 25,0.72);
}

#userText{
  display: flex;
  margin-top: -15vh;
  justify-content: center;
  color: white;
  font-size: calc(0.07*100vw + 1px);
  font-family: 'Cinzel', serif;
 
}

option{
  color:black; 
}

#storyBtn{
  font-size: calc(0.02*100vw);
  width: 30vw;
  font-family: 'Cinzel', serif;
  padding-top: 0.3vh;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 10vh auto;
}
/* 
select{
  display:flex !important;
} */
#outer{
  display:flex;
  width: 100%; 
  justify-content: center; 
}

#blockTint{
  width:100vw;
  min-height: 400px; 
  color:black;
  z-index: 8; 
}

#mainTitle{
  display:flex;
  justify-content: center;
  font-family: 'Cinzel', serif; 
  font-size: 3rem; 
}

#storyUl{
  width:100%; 
}

#storyTable{
  display: flex;
  justify-content: center; 
  font-size: 3rem; 
  text-align: center;
}

.indexTable{
  margin-bottom: 6vh;
  padding:35px;
  box-shadow: 0px 5px 20px #888888;
}
.showStoryButton{
  font-size: 1.5rem;
  font-family: 'Cinzel', serif; 
  font-weight: 600;
}

#storyContent{
  margin-top:3vh;
}

.createdTitle{
font-size: 2rem; 
font-weight: bolder;
letter-spacing: 0.15rem;
}

.created{
  font-size: 1.2rem; 
  padding-top:2vh;
}